<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Edit  Menu Item</h6>
    </div>
    <div class="card-body">
            <%- messages('message', locals) %>
            <div class="row">
                <div class="col-md-8">
                  <form method="POST" action="/admin/menu/item/edit" enctype="multipart/form-data">
                    <input type="hidden" name="item_id" value="<%- itm._id %>"/>
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Parent Category</label>
                          <div class="col-sm-10">
                              <select name="parent_cat" class="form-control" id="pcat">
                                 <% cats.forEach(cat => { %>
                                    <option value="<%- cat._id %>" <%- cat.id == itm.parent ? 'selected' : ''  %> ><%- cat.title %></option>
                                  <%  }); %>
                                </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Child Category</label>
                          <div class="col-sm-10">
                              <select class="form-control" name="child_cat" id="childs"></select>
                          </div>
                        </div>
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Item name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="item" value="<%- itm.item %>" placeholder="Item Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Item Price</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="price" value="<%- itm.price %>" placeholder="Item Price">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Item Description</label>
                      <div class="col-sm-10">
                          <textarea class="form-control" name="desc"  rows="5"><%- itm.desc %></textarea>
                      </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                          <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                          <div class="col-sm-10">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="status" value="active" checked>
                              <label class="form-check-label" for="gridRadios1">
                                Active
                              </label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="deactive" name="status">
                              <label class="form-check-label" for="gridRadios2">
                                Deactive
                              </label>
                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <div class="form-group row">
                        <div class="col-sm-2">Web Images</div>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input type="file" class="form-control-file" name="web_img" multiple>
                            <input type="hidden" id="web_img_old" name="web_img_old" value="<%- itm.web_img %>">
                          </div>
                          <% if(itm.web_img){ itm.web_img.forEach(element => { %>
                            <div class="element">
                                <img id="mob_img" class="mt-3" style="max-width: 200px;" src="/uploads/<%- element %>" alt="">
                                <div id="<%- element %>" onclick="removeFromArray(this.id)" class="btn btn-sm btn-primary remove">Remove</div>
                            </div>
                          <% }); } %>
                        </div>
                      </div>
                    
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                      </div>
                    </div>
                  </form>
                  <a href="/admin/menu/item/delete/<%- itm._id %>" class="btn btn-primary">Delete</a>
                </div>
              </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>
    <script>
        $(document).ready(function() {
            $('#pcat').on('change', function() {
               
                console.log($('#pcat').val());
                
                $.post("/admin/menu/get_childs",{
                        parent:$('#pcat').val() 
                    },
                    function(_data, status){
                        console.log(_data , "\nStatus: " + status);
                            target = $('#childs');
                            $(target).empty();
                        $('<option value="">-- Select Child Category --</option>').appendTo(target);
                        if (_data.childs.length > 0 ) {
                            if(typeof(_data.childs) != "undefined"){
                                        _data.childs.forEach(element => {                                            
                                            $('<option value="' + element._id + '">' + element.title + '</option>').appendTo(target);
                                        });
                                    }
                            }
                    });
            });
        });
    </script>

<script>
  $(document).on('click', '.remove', function(e) {
        e.preventDefault();
        $(this).closest('.element').remove();
        return false;
    });
  var bg_array = [];

  $(document).ready(function () {


    
    bgs = $('#web_img_old'). val();
    bg_array = bgs.split(',');
    console.log(bg_array);

});



function removeFromArray(bg) {
    
        $(this).closest('.element').remove();
        bgs = $('#web_img_old'). val();
        bg_array = bgs.split(',');
        remove(bg);
        $('#web_img_old'). val(String(bg_array));
        
}

function remove( what) {
    
    var found = bg_array.indexOf(what);
    while (found !== -1) {
            bg_array.splice(found, 1);
            found = bg_array.indexOf(what);
        }
        console.log(bg_array);
        
}


</script>
</body>

</html>
